*{
    font-family: 'Roboto', sans-serif;
}
#thermostat-container{
    position: relative;
}
#temp-readout{
    position: absolute;
    background-color: #007FF4;
    color: #002145;
    width: 140px;
    height: 65px;
    font-size: 1.5em;
    margin: 0;
    top: 115px;
    left: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#thermostat-button{
    position: absolute;
    top: 205px;
    left: 150px;
    border-radius: 5px;
}
#thermostat-jpg{
    position: absolute;
}
#unit-conversion-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    background-color: paleturquoise;
    border-radius: 5px;
    padding: 30px;
}
#unit-conversion-button{
    background-color: plum;
    border-radius: 5px;
    width: auto;
    height: auto;
    font-size: 1.5em;
    color: purple;
}
#converted-temp-readout{
    font-size: 1.5em;
    background-color: lightgreen;
    border-radius: 5px;
    width: auto;
    height: auto;
    color: purple;
}